# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pinger/ixiflowerv2ray/__pycache__/__init__.cpython-313.pyc
pinger/ixiflowerv2ray/__pycache__/settings.cpython-313.pyc
pinger/ixiflowerv2ray/__pycache__/urls.cpython-313.pyc
pinger/ixiflowerv2ray/__pycache__/wsgi.cpython-313.pyc
pinger/tickets/__pycache__/__init__.cpython-313.pyc
pinger/tickets/__pycache__/admin.cpython-313.pyc
pinger/tickets/__pycache__/apps.cpython-313.pyc
pinger/tickets/__pycache__/models.cpython-313.pyc
pinger/tickets/__pycache__/urls.cpython-313.pyc
pinger/tickets/__pycache__/views.cpython-313.pyc
pinger/tickets/migrations/__pycache__/__init__.cpython-313.pyc
pinger/tickets/migrations/__pycache__/0001_initial.cpython-313.pyc
pinger/tickets/migrations/__pycache__/0002_filter.cpython-313.pyc
pinger/tickets/migrations/__pycache__/0003_rename_filter_v2rayconfig.cpython-313.pyc
pinger/tickets/migrations/__pycache__/0004_userprofile.cpython-313.pyc
pinger/tickets/migrations/__pycache__/0005_userprofile_has_v2ray_access.cpython-313.pyc
pinger/tickets/migrations/__pycache__/0006_permanentnote.cpython-313.pyc
